<h1>您好, 欢迎来到工具世界：</h1>
<div class="ui three column stackable grid container">
	<clock id="clock" class="column" data-ng-include="'views/tpl/time/clock.html'" data-ng-controller="ClockCtrl"></clock>
	<div class="column" data-ng-include="'views/tpl/time/python.html'" data-ng-controller="PythonTime"></div>
	<div class="column" data-ng-include="'views/tpl/time/php.html'" data-ng-controller="PhpTime"></div>
	<div class="column" data-ng-include="'views/tpl/time/js.html'" data-ng-controller="JsTime"></div>
	<div class="column" data-ng-include="'views/tpl/time/unix.html'" data-ng-controller="UnixTime"></div>
	<div class="column" data-ng-include="'views/tpl/time/go.html'" data-ng-controller="GoTime"></div>
</div>