<h1 class="ui header">Python常用时间处理
<div class="sub header">
Python中日期主要使用日期函数date，时间 time， 日期和时间 datetime 三个模块。
</div>
</h1>
<h2 class="ui header">时间戳：</h2>
<div hljs>
from time import time
time() # 1459924740.645872

from time import mktime, strptime
mktime(strptime("2016-04-06", "%Y-%m-%d")) # 1459872000.0
</div>
<h2 class="ui header">time struct:</h2>
<div hljs>
from time import strptime
strptime("2016-04-06", "%Y-%m-%d") # time.struct_time(tm_year=2016, tm_mon=4, tm_mday=6, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=97, tm_isdst=-1)

from time import localtime
localtime(1459872000.0) # time.struct_time(tm_year=2016, tm_mon=4, tm_mday=6, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=97, tm_isdst=0)
</div>
<h2 class="ui header">timestr: </h2>
<div hljs>
from datetime import date, datetime
date.today() # datetime.date(2016, 4, 7)
datetime.today() # datetime.datetime(2016, 4, 7, 11, 13, 54, 441011)

from time import strftime
time.strftime("%Y-%m-%d") # '2016-04-06'
</div>